.button {
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: $l-font;
  font-weight: 300;
  line-height: 1;
  margin: 0.8rem 0;
  padding: $s-size;
  transition: 0.3s;
  &:hover {
    opacity: 0.8;
  }
  
  &--login {
    @extend .button;
    background: $red;
  }

  &--register {
    @extend .button;
    background-color: $blue;
  }

  &--link {
    @extend .button;
    background: none;
    font-size: $l-font;
    padding: 0;
    text-decoration: none;
  }

  &--users {
    @extend .button;
    font-size: $s-font;
    padding: $xs-size;
    width: 100%;
  }

  &--enable {
    @extend .button--users;
    background: $blue;
  }

  &--disable {
    @extend .button--users;
    background: $red;
  }

  &--delete {
    @extend .button--users;
    background: #7e7b7b;
  }
}
