.header {
  background: $dark-blue;

  &__content {
    display: flex;
    justify-content: space-between;
    padding: $m-size;
  }
}

.page-header {
  background: $light-grey;
  margin-bottom: $m-size;
  padding: $m-size 0;

  &__title {
    font-weight: 300;
    margin: 0;
    span {
      font-weight: bold;
    }
  }
}
