.input {
  background: $light-grey;
  border: none;
  display: inline-block;
  margin-bottom: 2.2rem;
  padding: $s-size 2rem;
  width: 100%;
  
  &:focus {
    background-color: darken($light-grey, 10%);
  }

  &--login {
    @extend .input;
    border: 1px solid darken($light-grey, 15%);
    margin: 0.8rem 0;
  }
}
