//colors
$body-color: rgb(53, 53, 53);
$blue: #0065a0;
$dark-blue: #364051;
$light-grey: #f1f1f1;
$red: #bb1000;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 47rem;

// Font sizes
$s-font: 1.3rem;
$l-font: 1.8rem;
